*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    display: inline-block;
    width: 100px;
}
a{
    display: inline-block;
    width: 200px;
}

ul{
    list-style: none;
    text-align: end;
    background-color: black;
    color: white;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    display: inline;
    margin: 10px;
}

li:hover{
    cursor: pointer;
    color: violet;
}